html,body {
    height: 100%;
}
:root {
    --blue: #16487e;
    --orange: #F07824;  
  }
  .bg-blue {
      background: var(--blue);
  } 

  .bg-orange {
      background: var(--orange);
  }
  .text-white {
      color:#ffff;
  }
  .text-blue {
      color: var(--blue);
  }
  .text-orange {
      color: var(--orange);
  }
