html,body {
    height: 100%;
}
.resize-input {
    width: 5rem !important;
}
:root {
    --blue: #16487e;
    --orange: #F07824;  
  }
  .bg-blue {
      background: var(--blue);
  } 

  .bg-orange {
      background: var(--orange);
  }
  .text-white {
      color:#ffff;
  }
  .text-blue {
      color: var(--blue);
  }
  .text-orange {
      color: var(--orange);
  }
  .overlay {
      background: #ffff;
      width: 100px;
      height: 100%;
      z-index: 9999;
  }
  .top-overlay {
    /* background-color:#ffff;
    width:100px;
    height:100%;
    border-top-right-radius:50%;
    border-bottom-right-radius:0%;
    position: relative;
    left:44px;
    bottom:14px;
    z-index:9999; */
    background-color: #ffff;
    width: 30%;
    height: 131%;
    border-top-right-radius: 58%;
    border-bottom-right-radius: 0%;
    position: relative;
    left: 143px;
    top: 1px;
    z-index: 9999;
  }
  .bottom-overlay {
    background-color: #ffff;
    width: 30%;
    height: 1090%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 58%;
    position: relative;
    left: -70px;
    top: -238px;
    z-index: 9999;
  }
  .questions {
      position: relative;
      bottom: 50px;
      left: 50px
    
  }
  #next, #back {
      cursor: pointer;
  }
  #business-information {
      visibility: visible;
      display: block;
      
  }
  #business-expenses {
    visibility: hidden;
    display: none;
}
