/* setting html and body to 100% */
html,body {
    height: 100%;
}
/* resize for small input */
.small-input {
    width: 5rem !important;
}
/* changing the root blue and orange color to primary selected colors */
:root {
    --blue: #16487e;
    --orange: #F07824;  
  }
/* custom background color classes */
  .bg-blue {
      background: var(--blue);
  } 

  .bg-orange {
      background: var(--orange);
  }
/* custom text color & weight classes */
  .text-bold {
      font-weight: 500;
  }
  .text-bolder {
      font-weight: bold;
  }
  .text-white {
      color:#ffff;
  }
  .text-blue {
      color: var(--blue);
  }
  .text-orange {
      color: var(--orange);
  }
/* top curved layout overlay */
  .top-overlay {
    background-color: #ffff;
    width: 30%;
    height: 131%;
    border-top-right-radius: 58%;
    position: absolute;
    left: 89.5%;
    top: -303px;
    z-index: 9999;
  }
/* bottom curved layout overlay */
  .bottom-overlay {
    background-color: #ffff;
    width: 30%;
    height: 1090%;
    border-bottom-right-radius: 58%;
    position: absolute;
    left: -10.5%;
    top: -238px;
    z-index: 9999;
  }
/* questions positioning to eliminate excessive white space */
  .questions {
      position: relative;
      bottom: 50px;
      left: 50px
  }
/* controllers cursor change to pointers */
  #next, #back {
      cursor: pointer;
  }
/* Animation default settings */
  #business-information {
      visibility: visible;
      display: block;   
  }
  #business-expenses {
    visibility: hidden;
    display: none;
  }
<<<<<<< HEAD
/* end of CSS */
=======
/* end of CSS */
>>>>>>> bc4ef5f1330ad903ce79a7fa660ea3d9bd672f52
