/* setting html and body to 100% */
html,body {
    height: 100%;
}
/* resize for small input */
.small-input {
    width: 5rem !important;
}
/* changing the root blue and orange color to primary selected colors */
:root {
    --blue: #16487e;
    --orange: #F07824;  
  }
/* custom background color classes */
  .bg-blue {
      background: var(--blue);
  } 

  .bg-orange {
      background: var(--orange);
  }
/* custom text color classes */
  .text-white {
      color:#ffff;
  }
  .text-blue {
      color: var(--blue);
  }
  .text-orange {
      color: var(--orange);
  }
/* top curved layout overlay */
  .top-overlay {
    background-color: #ffff;
    width: 30%;
    height: 131%;
    border-top-right-radius: 58%;
    border-bottom-right-radius: 0%;
    position: relative;
    left: 20%;
    top: 1px;
    z-index: 9999;
  }
/* bottom curved layout overlay */
  .bottom-overlay {
    background-color: #ffff;
    width: 30%;
    height: 1090%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 58%;
    position: relative;
    left: -70px;
    top: -238px;
    z-index: 9999;
  }
/* questions positioning to eliminate excessive white space */
  .questions {
      position: relative;
      bottom: 50px;
      left: 50px
  }
/* controllers cursor change to pointers */
  #next, #back {
      cursor: pointer;
  }
/* Animation default settings */
  #business-information {
      visibility: visible;
      display: block;   
  }
  #business-expenses {
    visibility: hidden;
    display: none;
  }

  @media screen and (min-width: 1440px) {
    .top-overlay {
        position: relative;
        left: 21%;
        top: 1px;
        z-index: 9999;
      }
  }
  @media screen and (min-width: 1600px) {
    .top-overlay {
        position: relative;
        left: 22%;
        top: 1px;
        z-index: 9999;
      }
  }
  @media screen and (min-width: 1920px) {
    .top-overlay {
        position: relative;
        left: 23.5%;
        top: 1px;
        z-index: 9999;
      }
  }
  @media screen and (min-width: 2000px) {
    .top-overlay {
        position: relative;
        left: 28%;
        top: 1px;
        z-index: 9999;
      }
  }
/* end of CSS */